body{
  background-image: url(img/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: 'Comfortaa', cursive;
}

.container-header{
  background-color: #e57373;
  opacity: 0.85;
}
.container-header h2{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  margin-top: 20px;
}

.container-header h4{
  text-align: right;
  font-family: 'Dancing Script', cursive;
}

@media screen and (max-width:450px){
  .container-header h2{
    font-size: 1.8em;
  }

  .container-header h4{
    font-size: 1.5em;
  }
}
.vertical li a{
  color: black;
  font-weight: bold;
}
.vertical li a:hover{
  color: white;
  background-color: #039be5;
}
.favorito img{
  border-radius: 50%;
  width: 100%;
}
.favorito h5{
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  text-align: center;
}
.historial h5{
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width:450px){
  .favorito img{
    width: 60%;
  }
}

@media screen and (min-width:720px){
  .post{
    margin-top: 120px;
  }
}

@media screen and (max-width:450px){
  .post h3{
    font-size: 2em;
  }
  .post h5{
    font-size: 1.2em;
  }
  .post p{
    margin: 0 10px;
  }

}

.post h3{
  font-family: 'Josefin Sans', sans-serif;
  margin: 1px 8px;
}
.post h5{
  font-family: 'Dancing Script', cursive;
  margin: 1px 8px;
}
.post p{
  text-align: justify;
  font-family: 'Comfortaa', cursive;
  margin: 1px 8px;
}
.card-img{  
  text-align: center;
}
